
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pharmaplus</title>
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <link rel="stylesheet" href="{{server_url()}}/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="{{server_url()}}/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="{{server_url()}}/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="{{server_url()}}/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="{{server_url()}}/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="{{server_url()}}/dist/css/adminlte.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
        rel="stylesheet" type='text/css' media='all' />

{% block stylesheets %}{% endblock %}

</head>

 {% block body %}
 <body class="hold-transition login-page">
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                <div class="login-logo mb-4">
                    <img src="{{server_url()}}/images/c.png" alt="logo Openflex">
                </div>

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="input-group mb-3">
    
        <input type="text" value="{{ last_username }}" placeholder="Utilisateur" name="email" id="email" class="form-control" required autofocus>
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-user"></span>
            </div>
        </div>
    </div>
    <div class="input-group mb-4">
        <input type="password" placeholder="Password" name="password" id="inputPassword" class="form-control" required>
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-outline-primary btn-block" type="submit">
                Sign in
            </button>
        </div>
    </div>
</form>
{% endblock %}
 <script src="{{server_url()}}/plugins/jquery/jquery.min.js"></script>
    <script src="{{server_url()}}/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{server_url()}}/dist/js/adminlte.min.js"></script>

 {% block javascripts %}{% endblock %}

</body>
</html>